DJANGO_SECRET_KEY=replace-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DB_NAME=lyhblog
DB_USER=root
DB_PASSWORD=123
DB_HOST=127.0.0.1
DB_PORT=3306
ANTHROPIC_BASE_URL=https://coding.beehears.com
ANTHROPIC_AUTH_TOKEN="sk-75cb641d85fe78d68a884fee5dc35c27e1823905bd86c30e13da1d1424266ec1"
ANTHROPIC_MODEL=claude-sonnet-4-6
ANTHROPIC_TIMEOUT=60